<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if erreur is defined and erreur is not empty %}
    <p style="color:red;">
        {{ erreur }}
    </p>
{% endif %}

<h2>Menu</h2>
{% if type is not defined or type is empty or type == "unidentified" %}
    <p>Veuillez vous identifier</p>
    <a href="{{ path('app_login') }}">Se connecter</a>
    <br>
    <a href="{{ path('app_create_user') }}">Créer un compte</a>
{% elseif type == "client" %}
    <p>menu du client</p>
{% elseif type == "admin" %}
    <p>menu de l'admin</p>
{% elseif type == "super-admin" %}
    <p>menu du super-admin</p>
{% endif %}
<br>
{% block body %}{% endblock %}
<p>Bandeau de fin de page a remplacer par une image</p>
</body>
</html>
