<h2>Menu</h2>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <img
            src="{{ absolute_url(asset('/img/image_admin.jpg')) }}"
            alt="image super-admin"
            style="height: 150px !important;
                width: 200px !important;
                border-radius: 8px;
                 object-fit: cover;"
    ></img>
    <br>
    <a href="{{ path('app_home') }}">Page d'acceuil</a>
    <br>
    <a href="{{ path('app_modify_user') }}">Modifier mon compte</a>
    <br>
    <a href="{{ path('app_create_admin') }}">Créer un administrateur</a>
    <br>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>

{% elseif is_granted('ROLE_ADMIN') %}
    <img
            src="{{ absolute_url(asset('/img/image_admin.jpg')) }}"
            alt="image admin"
            style="height: 150px !important;
                width: 200px !important;
                border-radius: 8px;
                 object-fit: cover;"
    ></img>
    <br>
    <a href="https://fr.wikipedia.org/wiki/The_Truman_Show">The Truman Show</a>
    <br>
    <a href="{{ path('app_home') }}">Page d'acceuil</a>
    <br>
    <a href="{{ path('app_product_create') }}">Créer un produit</a>
    <br>
    <a href="{{ path('app_product_list') }}">Liste de tout les produits</a>
    <br>
    <a href="{{ path('app_list_user') }}">Liste de tout les utilisateurs</a>
    <br>
    <a href="{{ path('app_modify_user') }}">Modifier mon compte</a>
    <br>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>

{% elseif is_granted('ROLE_CLIENT') %}
    <img
            src="{{ absolute_url(asset('/img/image_client.jpg')) }}"
            alt="image client"
            style="height: 150px !important;
                width: 200px !important;
                border-radius: 8px;
                 object-fit: cover;"
    ></img>
    <br>
    <p>nombre d'articles dans le panier</p>
    <br>
    <a href="{{ path('app_home') }}">Page d'acceuil</a>
    <br>
    <a href="{{ path('app_product_list') }}">Liste de tout les produits</a>
    <br>
    <a href="{{ path('app_modify_user') }}">Modifier mon compte</a>
    <br>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {#{% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}#}
{% else %}
    <img
            src="{{ absolute_url(asset('/img/image_non_id.jpg')) }}"
            alt="image non connecté"
            style="height: 150px !important;
                width: 200px !important;
                border-radius: 8px;
                 object-fit: cover;"
    ></img>
    <br>
    <p>Veuillez vous identifier</p>
    <br>
    <a href="{{ path('app_home') }}">Page d'acceuil</a>
    <br>
    <a href="{{ path('app_login') }}">Se connecter</a>
    <br>
    <a href="{{ path('app_create_user') }}">Créer un compte</a>
{% endif %}
<br>